<div class="launch">

<p>
<strong>Rocket | Mission Name:</strong> {{ launch.name }} <br />
<strong>Launch date:</strong: {{ launch.netdate }} <br />
<strong>Outcome: </strong{{ launch.status }} <br />
{{ launch.failurereason }}
</p>

</div>
